:root {
  /* BRAND PRIMARY (INDIGO)*/
  --primary-900: #1E1B4B;
  --primary-700: #3730A3;
  --primary-600: #4338CA;
  --primary-500: #4F46E5; /* MAIN */
  --primary-400: #6366F1;
  --primary-300: #A5B4FC;
  --primary-100: #EEF2FF;

  /* SECONDARY BLUE*/
  --blue-700: #0369A1;
  --blue-600: #0284C7;
  --blue-500: #0EA5E9; /* MAIN */
  --blue-300: #7DD3FC;
  --blue-100: #E0F2FE;

  /* CYAN ACCENT */
  --cyan-600: #0891B2;
  --cyan-500: #22D3EE; /* MAIN */
  --cyan-300: #67E8F9;
  --cyan-100: #ECFEFF;

  /* PURPLE (GAMIFICATION) */
  --purple-700: #6D28D9;
  --purple-500: #A78BFA; 
  --purple-300: #C4B5FD;
  --purple-100: #F5F3FF;

  /* DARK / NEUTRALS*/
  --dark-900: #0F172A;
  --dark-800: #161819; 
  --dark-700: #1F2937;
  --dark-600: #374151;
  --gray-500: #6B7280;
  --gray-300: #D1D5DB;
  --gray-100: #F3F4F6;

  --danger-600: #DC2626;
  --danger-500: #EF4444;
  --danger-300: #FCA5A5;
  --danger-100: #FEE2E2;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background:linear-gradient(180deg, var(--primary-900) ,var(--dark-900) );
  color: var(--gray-100);
  font-family: 'Inter', 'Poppins', sans-serif;
}

.back-btn a{
    text-decoration:none;
    font-weight: 700;
    background-color: #161819;
    color: #22D3EE;
    padding: 10px ;
    margin-right: 200px;
    border-radius: 10px;
}

.back-btn a:hover{
    background-color: #22D3EE;
    color:#161819 ;
}
.reels-page {
  max-width: 1200px;
  margin: auto;
  padding: 40px 24px;
}

.reels-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.upload-box {
  background: rgba(255,255,255,0.08);
  height: 120px;
  display: grid;
  place-items: center;
  border-radius: 16px;
  font-weight: 600;
}

.preview-card {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 16px;
}

.post-table {
  grid-column: span 2;
  background: rgba(255,255,255,0.06);
  border-radius: 16px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 14px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.header {
  font-weight: 600;
  color: var(--primary-300);
}
