:root {
  /* BRAND PRIMARY (INDIGO)*/
  --primary-900: #1E1B4B;
  --primary-700: #3730A3;
  --primary-600: #4338CA;
  --primary-500: #4F46E5; /* MAIN */
  --primary-400: #6366F1;
  --primary-300: #A5B4FC;
  --primary-100: #EEF2FF;

  /* SECONDARY BLUE*/
  --blue-700: #0369A1;
  --blue-600: #0284C7;
  --blue-500: #0EA5E9; /* MAIN */
  --blue-300: #7DD3FC;
  --blue-100: #E0F2FE;

  /* CYAN ACCENT */
  --cyan-600: #0891B2;
  --cyan-500: #22D3EE; /* MAIN */
  --cyan-300: #67E8F9;
  --cyan-100: #ECFEFF;

  /* PURPLE (GAMIFICATION) */
  --purple-700: #6D28D9;
  --purple-500: #A78BFA; 
  --purple-300: #C4B5FD;
  --purple-100: #F5F3FF;

  /* DARK / NEUTRALS*/
  --dark-900: #0F172A;
  --dark-800: #161819; 
  --dark-700: #1F2937;
  --dark-600: #374151;
  --gray-500: #6B7280;
  --gray-300: #D1D5DB;
  --gray-100: #F3F4F6;

  --danger-600: #DC2626;
  --danger-500: #EF4444;
  --danger-300: #FCA5A5;
  --danger-100: #FEE2E2;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, var(--primary-900), var(--dark-900));
  font-family: 'Inter', 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn a {
  position: fixed;
  top: 24px;
  left: 24px;
  padding: 10px 18px;
  background: linear-gradient(135deg,var(--cyan-500),var(--blue-500));
  color: var(--dark-900);
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.35);
}



.notification-page {
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  border-radius: 0 25px 25px 25px;
  padding: 22px;
  color: var(--dark-900);
}


.title {
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-700);
}

.notification {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background 0.2s ease, transform 0.2s ease;
}

.notification.unread {
  background: linear-gradient(
    90deg,
    var(--blue-100),
    var(--cyan-100)
  );
}


.notification:hover {
  background: var(--blue-300);
  transform: translateY(-1px);
}

.icon {
  font-size: 22px;
}

.content h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--dark-800);
}

.content p {
  font-size: 13px;
  color: var(--gray-500);
}

.time {
  font-size: 12px;
  color: var(--gray-500);
}

.back a{
    text-decoration:none;
    font-weight: 700;
    background-color: #161819;
    color: #22D3EE;
    padding: 10px;
    border-radius: 10px;
}

.back a:hover{

    background-color: #22D3EE;
    color:#161819 ;
}