
:root {
  --primary: #4F46E5;
  --blue: #0EA5E9;
  --cyan: #22D3EE;
  --dark: #161819;
  --purple: #A78BFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', 'Poppins', sans-serif;
}


.login-box {
  width: 100%;
  max-width: 360px;
  padding: 32px 24px;
  border-radius: 12px;
  background-color: var(--dark);
  border: 1px solid var(--primary);
  text-align: center;
}

.login-box h2 {
  color: var(--cyan);
  margin-bottom: 24px;
  font-weight: 600;
}


.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid var(--blue);
  background-color: var(--dark);
  color: white;
  font-size: 14px;
  outline: none;
}

.login-box input::placeholder {
  color: var(--purple);
}


.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
}
.login-box button a {
    text-decoration: none;
    color: #ffffff;
}

.forgot {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: var(--blue);
  text-decoration: none;
}


.signup {
  margin-top: 18px;
  font-size: 14px;
  color: var(--cyan);
}

.signup a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.logo-circle {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #4F46E5; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 600px) {
  .login-box {
    margin: 0 16px;
  }
  .login-box input {
    width: 80%;
    padding: 20px;
    margin: 20px;
  }
  .login-box button {
    width: 50%;
    padding: 20px;
    margin: 20px;
  }
}
